.movie-card {
	background: white;
	border-radius: 8px;
	width: 400px;
	margin: 0 auto;
	color: #616161;
	h2 {
		padding: 20px 10px;
		color: #2c2c2c;
	}
	p {
		padding: 15px 30px;
		font-size: 12px;
	}
	img {
		border-radius: 5px;
	}
}
